/* Header */
header {
    background: var(--dark-green);

    padding: 2rem 0 11rem;
    text-align: center;
}
#logo {
    color: white;
    font-weight: 100;
}



/* Titles */
h2 {
    color: var(--dark-blue);
    font-weight: normal; /* = 400 */

    margin: 3.2rem 0 0.8rem;
}



/* Links & Buttons */
a {
   color: var(--link-dark-green);
   text-decoration: none;
}
a:hover {
    color: var(--link-light-green);
}
.button.new {
    display: inline-block;
    margin-bottom: 0.8rem;
}

button {
    width: 100%;
    height: 50px;

    color: white;
    background: var(--normal-green);

    padding: 0;

    border: none;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;

    cursor: pointer;
}
button:hover {
    background: var(--light-green);
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.button.cancel {
    height: 50px;
    
    color: var(--normal-red);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--normal-red);
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;

    opacity: 0.6;
}
.button.cancel:hover {
    opacity: 1;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}



/* Balance */
#balance {
    margin-top: -8rem;
}
#balance h2 {
    color: white;
    margin-top: 0;
}



/* Cards */
.card {
    color: var(--dark-blue);
    background: white;

    padding: 1.5rem 2rem;
    margin-bottom: 3rem;

    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card p {
    font-weight: normal;
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}
.card.total {
    color: white;
}
.card.total.positive {
    background: var(--normal-green);
}
.card.total.negative {
    background: var(--normal-red);
}


/* Table */
#transaction {
    width: 100%;

    display: block;
    overflow-x: auto;
}
#data-table {
    width: 100%;
    color: var(--light-blue);
}
table thead tr th:first-child,
table tbody tr td:first-child { /*1°Filho*/
    border-radius: 0.25rem 0 0 0.25rem;
    -webkit-border-radius: 0.25rem 0 0 0.25rem;
    -moz-border-radius: 0.25rem 0 0 0.25rem;
    -ms-border-radius: 0.25rem 0 0 0.25rem;
    -o-border-radius: 0.25rem 0 0 0.25rem;
}
table thead tr th:last-child,
table tbody tr td:last-child { /*~°UltimoFilho*/
    border-radius: 0 0.25rem 0.25rem 0;
    -webkit-border-radius: 0 0.25rem 0.25rem 0;
    -moz-border-radius: 0 0.25rem 0.25rem 0;
    -ms-border-radius: 0 0.25rem 0.25rem 0;
    -o-border-radius: 0 0.25rem 0.25rem 0;
}
table thead th {
    background: white;

    font-weight: normal;
    padding: 1rem 2rem;

    text-align: left;
}
table tbody tr {
    opacity: 0.7;
}
table tbody tr:hover {
    opacity: 1;
}
table tbody td {
    background: white;
    border-spacing: 0 0.5rem; /* Vertical | Horizontal */

    padding: 1rem 2rem;
}
td.description {
    color: var(--dark-blue);
}
td.income {
    color: var(--money-green);
}
td.expense {
    color: var(--money-red);
}



img.remove {
    cursor: pointer;
}



/* Footer */
footer {
    color: var(--dark-blue);
    opacity: 0.6;

    padding: 4rem 0 2rem;
    text-align: center;
}