/* Modal */
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: var(--color-modal-overlay);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    z-index: 999;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal {
    background: var(--background-modal);

    padding: 2.4rem;
    position: relative;
    
    z-index: 1;
}